/*- History of Type CSS -*/



* {
    padding: ;
    margin:0;
    font-size:100%;
    line-height: 1em;  
}

body{ 
    width: 50%;
    margin: auto;
    font-family: Georgia, 'times new roman' serif;
    background: #f0f0f0
    color: black;
    line-height: 1.3em;
}

header{ 
    margin: 6em 0;
}

header h2{
    font-style: italic;
    font-size; 2.25em;
    color: #333;
}

li {
    color: red;
}

ul li{
     line-height: .01em;
}



h1, h2, h3 {
    font-weight: normal;
    text-align: center;
    color: indianred;
}

p, li, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.5;
}

h1 {
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: .1em;
}

.nick{
    padding-top: 2.5em;
}


h2 { 
    font-size: 2.25em;
    margin-bottom: 50px;
}

.nick h2{
    padding-top: 40px;
}

.pioneer h2{
    color: darkslategrey;
}
    
h3{
    font-size: 1.5em;
    padding: 1.5em;
}

/*-footer-*/

footer{
    
    font-size: .75em;
    padding-top: 2em;
}

